{% extends 'admin/base.html' %}
{% block title %}
    错误
{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
    <div class="box">
        <div class="box-body">
            <div class="bs-callout bs-callout-danger text-center well"
                 id="callout-input-needs-type">
                <h2 class="">{{ error }}</h2>
                <div class=" alert alert-warning">
                    <span id="delay_time"></span>
                    <a href="javaScript:back_prev();">返回上一页</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static',filename='js/error.js') }}"></script>
{% endblock %}