{% extends'admin/base.html' %}

{% block title %}
    标签设置
{% endblock %}

{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('static',filename='css/label.css') }}">
{% endblock %}

{% block main %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">标签列表</h3>
        </div>
        <!-- /.box-header -->

        <div class="box-body">

                    <table id="example2" class="table table-hover table-striped">
                {#       table table-bordered table-hover#}
                <thead>
                <tr>
                    <th>标签名</th>

                    <th>修改</th>
                    <th>删除</th>

                </tr>
                </thead>
                <tbody>


                    {% for navlabel in page_content['nav_label'] %}
<tr>
                        <td>{{ navlabel.name }}</td>
                        <td>
                            <a href="{{ url_for('admin.label_edit',label_id=navlabel.id) }}"><i
                                    class="fa fa-edit"></i></a>
                        </td>
                        <td>
                            <a href="{{ url_for('admin.label_delete',label_id=navlabel.id)}}">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                         </tr>
                    {% endfor %}

                </tbody>

            </table>

        </div>
    </div>
    <!-- /.box -->

    <div class="box">
        <div class="box-body">
            <form action="{{ url_for('admin.label_add') }}" method="post">
                <div class="row ">
                    <div class="col-md-6">
                        <div class="form-group  ">
                            <label>名称:</label>
                            <input type="text" name="name"
                                   class="form-control info">
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label>父级:</label>
                            <select class="form-control info" name="parent_id">
                                <option value="">无</option>
                                {% for label in page_content['nav_label'] %}
                                    <option value="{{ label.id }}">{{ label.name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary label-btn">
                            添加
                        </button>
                    </div>
                </div>
            </form>
        </div>    <!-- /.box-body -->

    </div>
    <!-- /.box -->
{% endblock %}