{% extends 'admin/base.html' %}
{% block title %}
    编辑笔记
{% endblock %}

{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('static',filename='css/add_edit.css') }}">
{% endblock %}

{% block main %}
    <div class="box">

        <div class="box-header with-border">
            <h3 class="box-title">编辑笔记</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <form action="{{ url_for('admin.article_edit',article_id=article.id) }}"
                  class="form"
                  enctype="multipart/form-data" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group  ">
                            <label>名称:</label>
                            <input type="text" name="title"
                                   class="form-control info"
                                   value="{{ article.title }}">
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label>类型:</label>
                            <select class="form-control info" name="label_id">
                                {% for label in page_content['nav_label'] %}
                                    <option value="{{ label.id }}"
                                            {% if label.id==article.label_id %}
                                            selected {% endif %}>
                                        {{ label.name }}
                                    </option>                                {% endfor %}

                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group ">
                            <label>简介:</label>
                            <input type="text" name="info"
                                   class="form-control info2"
                                   value="{{ article.info }}" maxlength="65525">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>内容:</label>
                    <textarea class="text-container " id="editor" cols="30"
                              rows="10" name="content"
                              style="width:98%;height: 200px;overflow:hidden;">
                                            {{ article.content }}
                    </textarea>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="保存">
                </div>

            </form>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->


{% endblock %}

{% block js %}

    <script type="text/javascript"
            src="{{ url_for('static',filename='ueditor/ueditor.config.js') }}"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript"
            src="{{ url_for('static',filename='ueditor/ueditor.all.js') }}"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('editor');
    </script>
{% endblock %}
